<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/installed.css">
    <title>Hello!</title>
</head>
<body>
    <main class="main">
        <div class="main-container">
            <div class="content-body">
                <div class="title">
                    <h1>Hello!</h1>
                </div>
                <div class="content">
                    <p class="about">
                        This extension adds new shortcuts for working with tabs
                    </p>
                    <div class="commands">
                        <h3 class="commands-about">List of commands:</h3>
                        <div class="command">
                            <h3 class="shotrcut">
                                Ctrl+Q
                            </h3>
                            <p class="shortcut-about">
                                - open new tab to the right
                            </p>
                        </div>
                        <div class="command">
                            <h3 class="shotrcut">
                                Ctrl+B
                            </h3>
                            <p class="shortcut-about">
                                - create new tab group with random title
                            </p>
                        </div>
                        <div class="command">
                            <h3 class="shotrcut">
                                Alt+V
                            </h3>
                            <p class="shortcut-about">
                                - duplicate tab
                            </p>
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <button id="close-btn" class="close-btn">
                        Ok :)
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="../js/installed.js"></script>
</html>